body {
    background-color: #F9FAFC;
    font-family: 'Poppins', sans-serif;
}

.light-blue {
    color: #d2f5ff;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: hsl(24, 26%, 96%);
}

.card {
    border: none;
    background-color: transparent;
}

.card-image {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid #999999;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 20px;
}

.masthead-text {
    background-color: #006ccd;
    color: white;
}

.post-link {
    text-decoration: none;
}

.post-link h2,
.page-title {
    font-family: 'Abril Fatface', cursive;
    color: #23BBBB;
}

.post-link h2:hover {
    color: #f68712;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    border: 1px solid #23BBBB;
    color: #23bbbb;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #23bbbb;
    color: #fff;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

footer p a i:hover {
    box-shadow: 0 0 10px white;
}

.navbar-nav.ms-auto.mb-2.mb-lg-0 li a {
    color: #006ccd;
    margin-right: 20px;
}

a.nav-link.active {
    color: #f69712 !important;
}

.navbar-nav.ms-auto.mb-2.mb-lg-0 li a:hover {
    color: #0088ff;
}

.parallax-header {
    background: #000;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dbybmxt1u/image/upload/v1661175636/vienna_cizkr9.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-text {
    padding: 200px 0 200px 0;
}

.welcome-message {
    font-size: large;
    padding-top: 20px;
    color: hsl(24, 26%, 96%);
    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: #000;
    --stroke-color: #000;

    text-shadow:

        var(--x-offset) var(--y-offset) 0px var(--background-color),

        calc(var(--x-offset) - var(--stroke)) calc(var(--y-offset) + var(--stroke)) 0px var(--stroke-color);
}

.subtitle {
    font-family: 'Abril Fatface', cursive;
    color: #23BBBB;
    padding: 40px 0 20px 0;
    font-weight: 900;
    font-size: 2em;
}

.form-title label {
    color: #23BBBB;
    margin: 10px 0 2px 0;
}

@media screen and (max-width: 800px) {
    .minimize-tagline {
        width: 90%;
    }

    .subtitle {
        font-size: 1.5em;
    }

    .masthead-text h1 {
        font-size: 1.6em;
    }

    .masthead-text p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 600px) {
    .minimize-tagline {
        width: 85%;
    }

    .subtitle {
        font-size: larger;
    }

    .masthead-text h1 {
        font-size: 1.2em;
    }

    .masthead-text p {
        font-size: 0.6em;
    }
}