{% extends "base.html" %}

{% block title %}TravelGramers | About{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1 class="page-title row justify-content-center mt-5">About TravelGramers</h1>
</div>

<div class="container mt-5" style="color: #6c757d">
    <div class="row justify-content-center text-center">
        <div class="col-11 col-md-8">
            <h3>Share you unique travel experiences with others!</h3>
            <br>
            <p>Traveling is a wonderful experience as it's the best way to get a fresh recharge from a stress-filled
                daily life. Whether you travel alone or with companions, you experience new and irreplaceable things all
                the same. Through travels, new places, languages, cultures, cuisines, traditions, and ways of
                living are discovered. You explore something beyond your own comfort zone, learning about your true self
                by the interactions you make with everyone and everything around you along the way. Each and every
                moment is a memory. Each and every memory is a story. Those stories, whether it be good
                or, well, not so much, are waiting to be told.
            </p>
        <div class="col-11 col-md-8 mx-auto mt-3 mb-3">
            <h4>Got a story to tell?</h4>
        </div>
        </div>
        <div class="col-11 col-md-8 mb-5">
            <p>
                Do share your travel stories on TravelGramers, a blog created for travel lovers to share their unique
                experiences with others! Think of one amazing experience or special moment you had in that particular
                setting, and let your fingers type the words into the screen. Who knows, you might find like-minded
                travelgoers who experienced similar story or two and they might just be your new travel companions for
                your upcoming trip!

                Start sharing <a style="color:#23bbbb; text-decoration:none" href="{% url 'create' %}">HERE</a>, and don't forget to include your
                special photo!
            </p>
        </div>
    </div>
</div>


{% endblock %}