{% extends "base.html" %}

{% block title %}TravelGramers | About{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1 class="page-title row justify-content-center mt-5">About TravelGramers</h1>
</div>

<div class="container mt-5" style="color: #6c757d">
    <div class="row justify-content-center text-center">
        <div class="col-11 col-md-8">
            <h3>Share you unique travel experiences with others!</h3>
            <br>
            <p>Traveling is a unique experience as it's the best way to unplug from the pushes and pulls of daily life.
                It helps us to forget about our problems, frustrations, and fears at home. During our journey, we
                experience life in different ways. We explore new places, cultures, cuisines, traditions, and ways of
                living. We invite you to share your reflections, favorite memories, revelations, and tips, as well as
                your photos and videos with Dalattrip.com. Everyone has a story, what’s yours? Writing and sharing a personal
                story can be a profound experience for the storyteller as well as for those reading. Stories about our
                personal experiences can awaken our awareness, stretch our hearts, and help the coming traveler to enjoy
                their trip.
            </p>
        </div>
        <div class="col-11 col-md-8 mb-5">
            <p>
                Share your travel story with us today! Think of one amazing experience with the local wildlife, natural
                setting, people, or one special moment. Even if it is the complaints or unsatisfied experiences with
                you. Enhance your story with photos or video so please include these with your content. And we would also
                love to read a few
                words about yourself and snapshot of yourself with your story.

                Start writing and thank you for sharing!
            </p>
        </div>
    </div>
</div>


{% endblock %}