{% extends "base.html" %}

{% block title %}TravelGramers | Create your post{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <h1 class="page-title row justify-content-center mt-5">Share your story here!</h1>
</div>
{% if user.is_authenticated %}
<div class="container-fluid row justify-content-center">
    <div class="col-11 col-md-8 col-lg-6 my-4">
        <form method="post" class="form-title mb-4" enctype="multipart/form-data">
            {{ form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-signup mt-2">Submit</button>
            <a class="btn btn-outline-danger mt-2" href="{%  url 'home' %}">Cancel</a>
        </form>
    </div>
</div>
{% endif %}

{% endblock %}