{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-end">
        <div class="col-md-8 mt-5 offset-md-2">
            <h2 class="page-title mb-3">Delete your post?</h2>
            <p>This can not be undone.</p>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-8 mt-3 offset-md-2">
            <form method="POST">
                {% csrf_token %}
                <button type="submit" value="delete" class="btn btn-outline-danger">Delete</button>
                <a class="btn btn-signup" href="{%  url 'post_detail' post.slug %}">Cancel</a>
            </form>
        </div>
    </div>
</div>



{% endblock %}