{% extends "base.html" %} 

{% block content %} 

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5 offset-md-2">
            <h2>Delete your post?</h2>
            <h5>This can not be undone.</h5>
            <br>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" value="delete" class="btn btn-outline-danger">Delete</button>
                <a class="btn btn-outline-primary" href="{%  url 'post_detail' post.slug %}">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}